body{
    background-color: rgb(125, 118, 118);
    color :rgb(251, 247, 247);
}

button{
    border-radius: 15%;
    background-color: #049DD9;
    box-shadow: 5px 2px 2px #2a4853;
    text-decoration: none;
    text-transform: none;
}
li{
    display: flex;
    gap: 20px;
    
}